.fav_h2 {
    color: white;
}

.fav_h3 {
    color: white;
}

.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    height: 61em;
    padding: 20px;
 }