$primary-color: green;
$hover-color: gold;

.blank_error {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.favourite {
    display: flex;
    flex-wrap: wrap;
    height: 61em;
    justify-content: center;
    left: 18%;
    overflow: scroll;
    padding: 20px;
    position: absolute;
    min-width: 80%;
}

.fav_h2 {
    color: white;
    font-size: 3em;
}

.fav_h3 {
    color: white;
    font-size: 2em;
}

.back_to_movies__btn {
    border-radius: 10px;
    height: 55px;
    font-size: 2em;
    margin: 5px;
    padding: 13px;
    border: 2px solid transparent;
    cursor: pointer;
    &:hover,
      &:focus {
         border: 2px solid $primary-color;
         color: $primary-color;
         cursor: pointer;
         font-weight: 800;
         transform: scale(1.1);
         transition: all .1s ease-in-out;
      }
}
