body {
  margin: 0;
  padding: 0;
  background-image: 'https://media.giphy.com/media/3ov9k1173PdfJWRsoE/giphy.gif';
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

 
