*,
*:after,
*:before {
  box-sizing: border-box;
}

.App {
  // background-image: url('../../images/TantiveIVToydaria-SL.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.bb8-loading {
    height: 30em;
    margin-top: 14em;
    position: relative;
    right: 8em;
}
 
