$primary-color : #00D800;

nav {
    background: transparent;
    border-right: 1px solid $primary-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

    img {
        height: 11em;
        padding: 5px;
        border-radius: 25px;
        margin: 5px;
        border: 1px solid $primary-color;
    }

    h2 {
      color: $primary-color;
    }

    h3 {
        color: $primary-color;
    }
}

.nav-links {
    display: flex;
    flex-direction: column;
    padding: 30px;

    .nav {
        color: $primary-color;
    }

    .active-nav {

    }
}